.elementor-181 .elementor-element.elementor-element-3381591 {
    --display: flex;
    --min-height: 5vh;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-181 .elementor-element.elementor-element-3381591:not(.elementor-motion-effects-element-type-background),
.elementor-181 .elementor-element.elementor-element-3381591>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-c1edc4a);
}

.elementor-181 .elementor-element.elementor-element-3381591,
.elementor-181 .elementor-element.elementor-element-3381591::before {
    --border-transition: 0.3s;
}

.elementor-181 .elementor-element.elementor-element-a72cb6e {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: space-around;
    --align-items: center;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-181 .elementor-element.elementor-element-4a65640 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-181 .elementor-element.elementor-element-88375dd .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(20px/2);
}

.elementor-181 .elementor-element.elementor-element-88375dd .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(20px/2);
}

.elementor-181 .elementor-element.elementor-element-88375dd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(20px/2);
    margin-left: calc(20px/2);
}

.elementor-181 .elementor-element.elementor-element-88375dd .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-20px/2);
    margin-left: calc(-20px/2);
}

body.rtl .elementor-181 .elementor-element.elementor-element-88375dd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-20px/2);
}

body:not(.rtl) .elementor-181 .elementor-element.elementor-element-88375dd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-20px/2);
}

.elementor-181 .elementor-element.elementor-element-88375dd .elementor-icon-list-icon i {
    color: var(--e-global-color-accent);
    transition: color 0.3s;
}

.elementor-181 .elementor-element.elementor-element-88375dd .elementor-icon-list-icon svg {
    fill: var(--e-global-color-accent);
    transition: fill 0.3s;
}

.elementor-181 .elementor-element.elementor-element-88375dd {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-181 .elementor-element.elementor-element-88375dd .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-181 .elementor-element.elementor-element-88375dd .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-181 .elementor-element.elementor-element-88375dd .elementor-icon-list-text {
    color: var(--e-global-color-text);
    transition: color 0.3s;
}

.elementor-181 .elementor-element.elementor-element-88375dd .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var(--e-global-color-text);
}

.elementor-181 .elementor-element.elementor-element-585e249 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-181 .elementor-element.elementor-element-ffd3c23 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 15px;
    --grid-column-gap: 10px;
    --grid-row-gap: 0px;
}

.elementor-181 .elementor-element.elementor-element-ffd3c23 .elementor-widget-container {
    text-align: right;
}

.elementor-181 .elementor-element.elementor-element-ffd3c23 .elementor-social-icon {
    background-color: var(--e-global-color-accent);
}

.elementor-181 .elementor-element.elementor-element-ffd3c23 .elementor-social-icon i {
    color: var(--e-global-color-secondary);
}

.elementor-181 .elementor-element.elementor-element-ffd3c23 .elementor-social-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-181 .elementor-element.elementor-element-ffd3c23 .elementor-icon {
    border-radius: 100px 100px 100px 100px;
}

.elementor-181 .elementor-element.elementor-element-ffd3c23 .elementor-social-icon:hover {
    background-color: var(--wp--preset--color--amalya);
}

.elementor-181 .elementor-element.elementor-element-ffd3c23 .elementor-social-icon:hover i {
    color: var(--e-global-color-accent);
}

.elementor-181 .elementor-element.elementor-element-ffd3c23 .elementor-social-icon:hover svg {
    fill: var(--e-global-color-accent);
}

.elementor-181 .elementor-element.elementor-element-8a35985 {
    --display: flex;
    --min-height: 10vh;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: space-between;
    --align-items: center;
    --background-transition: 0.3s;
    --z-index: 10;
}

.elementor-181 .elementor-element.elementor-element-8a35985:not(.elementor-motion-effects-element-type-background),
.elementor-181 .elementor-element.elementor-element-8a35985>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-secondary);
}

.elementor-181 .elementor-element.elementor-element-8a35985,
.elementor-181 .elementor-element.elementor-element-8a35985::before {
    --border-transition: 0.3s;
}

.elementor-181 .elementor-element.elementor-element-cb339eb {
    --display: flex;
    --background-transition: 0.3s;
    --overlay-opacity: 1;
    --border-radius: 10px 10px 10px 10px;
}

.elementor-181 .elementor-element.elementor-element-cb339eb::before,
.elementor-181 .elementor-element.elementor-element-cb339eb>.elementor-background-video-container::before,
.elementor-181 .elementor-element.elementor-element-cb339eb>.e-con-inner>.elementor-background-video-container::before,
.elementor-181 .elementor-element.elementor-element-cb339eb>.elementor-background-slideshow::before,
.elementor-181 .elementor-element.elementor-element-cb339eb>.e-con-inner>.elementor-background-slideshow::before,
.elementor-181 .elementor-element.elementor-element-cb339eb>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
}

.elementor-181 .elementor-element.elementor-element-21abde4 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-menu-container {
    height: 60px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li>a {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    text-transform: var(--e-global-typography-accent-text-transform);
    line-height: var(--e-global-typography-accent-line-height);
    color: var(--e-global-color-primary);
    padding: 0px 15px 0px 15px;
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li>a:hover {
    color: var(--e-global-color-accent);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li>a:focus {
    color: var(--e-global-color-accent);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li>a:active {
    color: var(--e-global-color-accent);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li:hover>a {
    color: var(--e-global-color-accent);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
    color: var(--e-global-color-accent);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
    color: var(--e-global-color-accent);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
    color: var(--e-global-color-accent);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
    color: var(--e-global-color-accent);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li.current-menu-item>a {
    color: var(--e-global-color-accent);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li.current-menu-ancestor>a {
    color: var(--e-global-color-accent);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li.current-menu-ancestor>a .elementskit-submenu-indicator {
    color: var(--e-global-color-accent);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li>a .elementskit-submenu-indicator {
    color: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li>a .ekit-submenu-indicator-icon {
    color: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    text-transform: var(--e-global-typography-accent-text-transform);
    line-height: var(--e-global-typography-accent-line-height);
    padding: 15px 15px 15px 15px;
    color: var(--e-global-color-primary);
    background-color: var(--wp--preset--color--amalya);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:hover {
    color: var(--e-global-color-accent);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:focus {
    color: var(--e-global-color-accent);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:active {
    color: var(--e-global-color-accent);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav .elementskit-submenu-panel>li:hover>a {
    color: var(--e-global-color-accent);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav .elementskit-submenu-panel>li.current-menu-item>a {
    color: var(--e-global-color-accent);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-submenu-panel {
    padding: 15px 0px 15px 0px;
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav .elementskit-submenu-panel {
    border-style: none;
    background-color: var(--wp--preset--color--amalya);
    border-radius: 10px 10px 10px 10px;
    min-width: 220px;
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-menu-hamburger {
    float: right;
    background-color: var(--wp--preset--color--amalya);
    border-style: none;
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-menu-hamburger .elementskit-menu-hamburger-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-menu-hamburger>.ekit-menu-icon {
    color: var(--e-global-color-primary);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-menu-hamburger:hover {
    background-color: var(--e-global-color-accent);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-menu-hamburger:hover .elementskit-menu-hamburger-icon {
    background-color: var(--e-global-color-secondary);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-menu-hamburger:hover>.ekit-menu-icon {
    color: var(--e-global-color-secondary);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-menu-close {
    background-color: var(--e-global-color-accent);
    border-style: none;
    color: var(--e-global-color-secondary);
}

.elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-menu-close:hover {
    background-color: var(--e-global-color-ff5add3);
    color: var(--e-global-color-primary);
}

.elementor-181 .elementor-element.elementor-element-a3e2a1d {
    --display: flex;
    --align-items: flex-end;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --background-transition: 0.3s;
}

.elementor-181 .elementor-element.elementor-element-453e265 .elementor-button .elementor-align-icon-right {
    margin-left: 10px;
}

.elementor-181 .elementor-element.elementor-element-453e265 .elementor-button .elementor-align-icon-left {
    margin-right: 10px;
}

.elementor-181 .elementor-element.elementor-element-453e265 .elementor-button {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: var(--wp--preset--color--amalya);
}

.elementor-181 .elementor-element.elementor-element-453e265 .elementor-button:hover,
.elementor-181 .elementor-element.elementor-element-453e265 .elementor-button:focus {
    color: var(--e-global-color-accent);
}

.elementor-181 .elementor-element.elementor-element-453e265 .elementor-button:hover svg,
.elementor-181 .elementor-element.elementor-element-453e265 .elementor-button:focus svg {
    fill: var(--e-global-color-accent);
}

@media(max-width:1024px) {

    .elementor-181 .elementor-element.elementor-element-88375dd .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-181 .elementor-element.elementor-element-88375dd .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-181 .elementor-element.elementor-element-8a35985 {
        --justify-content: space-between;
        --align-items: center;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
        --flex-wrap: wrap;
    }

    .elementor-181 .elementor-element.elementor-element-cb339eb {
        --overlay-opacity: 0;
    }

    .elementor-181 .elementor-element.elementor-element-21abde4 {
        --justify-content: center;
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-menu-container {
        background-color: var(--e-global-color-c1edc4a);
        max-width: 350px;
        border-radius: 0px 0px 0px 0px;
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-nav-identity-panel {
        padding: 10px 0px 10px 0px;
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li>a {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        color: var(--e-global-color-primary);
        padding: 10px 15px 10px 15px;
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li>a:hover {
        color: var(--e-global-color-accent);
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li>a:focus {
        color: var(--e-global-color-accent);
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li>a:active {
        color: var(--e-global-color-accent);
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li:hover>a {
        color: var(--e-global-color-accent);
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
        color: var(--e-global-color-accent);
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
        color: var(--e-global-color-accent);
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
        color: var(--e-global-color-accent);
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
        color: var(--e-global-color-accent);
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li.current-menu-item>a {
        color: var(--e-global-color-accent);
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li.current-menu-ancestor>a {
        color: var(--e-global-color-accent);
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li.current-menu-ancestor>a .elementskit-submenu-indicator {
        color: var(--e-global-color-accent);
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li>a .elementskit-submenu-indicator {
        color: var(--e-global-color-primary);
        fill: var(--e-global-color-primary);
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li>a .ekit-submenu-indicator-icon {
        color: var(--e-global-color-primary);
        fill: var(--e-global-color-primary);
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        padding: 15px 15px 15px 15px;
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav .elementskit-submenu-panel {
        border-radius: 0px 0px 0px 0px;
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-menu-hamburger {
        padding: 12px 8px 12px 8px;
        width: 45px;
        border-radius: 3px;
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-menu-close {
        padding: 8px 8px 8px 8px;
        margin: 12px 12px 12px 12px;
        width: 45px;
        border-radius: 3px;
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-nav-logo>img {
        max-width: 180px;
        max-height: 60px;
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-nav-logo {
        margin: 5px 0px 5px 0px;
        padding: 5px 5px 5px 15px;
    }
}

@media(max-width:767px) {

    .elementor-181 .elementor-element.elementor-element-88375dd .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-181 .elementor-element.elementor-element-88375dd .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-181 .elementor-element.elementor-element-cb339eb {
        --width: 45%;
        --overlay-opacity: 0;
    }

    .elementor-181 .elementor-element.elementor-element-21abde4 {
        --width: 48%;
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav>li>a {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-181 .elementor-element.elementor-element-6c22b70 .elementskit-nav-logo>img {
        max-width: 120px;
        max-height: 50px;
    }
}

@media(min-width:768px) {
    .elementor-181 .elementor-element.elementor-element-4a65640 {
        --width: 100%;
    }

    .elementor-181 .elementor-element.elementor-element-585e249 {
        --width: 30%;
    }

    .elementor-181 .elementor-element.elementor-element-cb339eb {
        --width: 25%;
    }

    .elementor-181 .elementor-element.elementor-element-a3e2a1d {
        --width: 25%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-181 .elementor-element.elementor-element-cb339eb {
        --width: 30%;
    }

    .elementor-181 .elementor-element.elementor-element-21abde4 {
        --width: 67%;
    }

    .elementor-181 .elementor-element.elementor-element-a3e2a1d {
        --width: 100%;
    }
}