.elementor-201 .elementor-element.elementor-element-5580a0d {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 10px 10px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-201 .elementor-element.elementor-element-60a46ec .rform-input {
    padding: 15px 30px 15px 30px;
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    border-radius: 50px 50px 50px 50px;
    color: var(--e-global-color-secondary);
    background-color: var(--e-global-color-primary);
    border-style: none;
}

.elementor-201 .elementor-element.elementor-element-60a46ec .rform-input::placeholder {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-201 .elementor-element.elementor-element-60a46ec .rform-input::-webkit-input-placeholder {
    color: var(--e-global-color-secondary);
}

.elementor-201 .elementor-element.elementor-element-60a46ec .rform-input::-ms-input-placeholder {
    color: var(--e-global-color-secondary);
}

.elementor-201 .elementor-element.elementor-element-60a46ec .rform-error {
    text-align: left;
    color: var(--e-global-color-accent);
}

.elementor-201 .elementor-element.elementor-element-7216f30 .rform-button-submit {
    border-style: none;
}

@media(max-width:1024px) {
    .elementor-201 .elementor-element.elementor-element-60a46ec .rform-input {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-201 .elementor-element.elementor-element-60a46ec .rform-input::placeholder {
        font-size: var(--e-global-typography-text-font-size);
    }
}

@media(max-width:767px) {
    .elementor-201 .elementor-element.elementor-element-60a46ec .rform-input {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-201 .elementor-element.elementor-element-60a46ec .rform-input::placeholder {
        font-size: var(--e-global-typography-text-font-size);
    }
}